* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color:rgba(0, 0, 150, 10);
    padding: 16px 0 16px 0;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #ccc;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}


.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#Esportes {
    background-color: rgba(0, 0, 255, 0.1)
}

#Esportes .articles article a {
    background-color: rgba(0, 0, 150, 10);
}

#Esportes .articles article {
    color: #000;
}

#Economia {
    background-color: rgba(241, 247, 120, 0.456);
}

#Economia .articles article a {
    background-color:rgb(252, 229, 57);
    color: grey;
    }

#Esportes .articles article {
    color: #000;
}

#Entreterimento { 
    background-color: rgba(0, 260, 0, 0.1);
}

#Entreterimento .articles article a {
    background-color: rgba(0, 190, 0, 10);
    color: #fff;
}

#Entreterimento .articles article {
    color: #000;
}

#Tecnologia {
    background-color: rgba(0, 213, 255, 0.295);
}

#Tecnologia .articles article a {
    background-color:rgb(0, 140, 255);
    color: #fff;
}

#Tecnologia .articles article {
    color: #000;
}